# Database Population & Querying

##### Using Pandas & SQLAlchemy to store and retrieve StatsBomb event data 

---

In [1]:
import requests
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
from sqlalchemy import create_engine

In this example, we use SQLAlchemy's `create_engine` function to create a temporary database in memory.

We can use a similar approach to connect to other persistant local or remote databases. It's very flexible.

---

In [3]:
base_url = "https://raw.githubusercontent.com/statsbomb/open-data/master/data/"
comp_url = base_url + "matches/{}/{}.json"
match_url = base_url + "events/{}.json"

In [4]:
def parse_data(competition_id, season_id):
    matches = requests.get(url=comp_url.format(competition_id, season_id)).json()
    match_ids = [m['match_id'] for m in matches]
    events = []
    for match_id in tqdm(match_ids):
        for e in requests.get(url=match_url.format(match_id)).json():
            events.append(e)
        
    return pd.json_normalize(events, sep='_')

This is pretty much the same `parse_data` function that we've seen in previous examples, but with a couple specific twists:

- We are storing entire events, not subsets of them.
- We are using `pd.json_normalize` to convert the hierarchical StatsBomb JSON data structure into something more tabular that can more easily be stored in a relational database.

---

In [5]:
competition_id = 43
season_id = 3
df = parse_data(competition_id, season_id)

100%|██████████| 64/64 [00:24<00:00,  2.56it/s]

In [7]:
location_columns = [x for x in df.columns.values if 'location' in x]
for col in location_columns:
    for i, dimension in enumerate(["x", "y"]):
        new_col = col.replace("location", dimension)
        df[new_col] = df.apply(lambda x: x[col][i] if type(x[col]) == list else None, axis=1)

Because StatsBomb delivers x/y coordinates in an array (e.g. `[60.0, 40.0]`), we need to split them into separate columns so we can easily store the individual coordinates in a SQL database.

Unfortunately, this is a bit tricky, and we use a couple fun `Python` and `Pandas` tricks to our advantage.

First we determine which columns in the DataFrame are locations (with the list comprehension that generates the `location_columns` list).

Then we iterate through these columns, and each `dimension` (i.e. `x` and `y`), to create two new columns for each old column.

e.g. `pass_end_location` becomes `pass_end_x` and `pass_end_y`

Once we have the new column names, we use `df.apply` and a lambda function to grab the correct coordinate from each row. I recommend reading further on both **`df.apply`** and python **lambda functions** as they're a bit complicated, but fully worth learning about.

---

In [8]:
df = df[[c for c in df.columns if c not in location_columns]]

We use a list comprehension to generate a new subset of columns that we want in the DataFrame, excluding the old location columns.

---

In [9]:
columns_to_remove = ['tactics_lineup', 'related_events', 'shot_freeze_frame']
df = df[[c for c in df.columns if c not in columns_to_remove]]

In the same fashion, we're going to exclude the `tactics_lineup`, `related_events`, and `shot_freeze_frame` columns because their heirarcical data structures cannot easily be stored in a SQL database.

If you need these particular columns for analysis, you have to pull them out seperately.

> Note: _It's possible that you may need to exclude additional columns from the data specification if you're using a data set other than the World Cup 2018 data that we're using for this example._

---

In [10]:
engine = create_engine('sqlite://')

This creates a temporary SQLite3 database in memory, and provides an engine object that you can use to interact directly with it.

If you wish to use a persistant local or remote database, you can change the `uri` (i.e. `sqlite://`) to point elsewhere. For example, a `uri` for a local mysql database might look something like this: `mysql://user:password@127.0.0.1:3306/dbname`.

---

In [11]:
df.to_sql('events', engine)

This loads the content of our DataFrame into our SQLite3 database via the `engine` object, and puts the rows into new table named `events`.

> Note: **This takes a while**, 2-3 minutes on my local laptop.

---

In [12]:
top_passers = """
select player_name, count(*) as passes
from events
where 1=1
and type_name = "Pass"
group by player_id
order by count(*) desc
"""

pd.read_sql(top_passers, engine).head(10)

                      player_name  passes
0                     Luka Modrić     527
1             Sergio Ramos García     496
2                     John Stones     479
3  Francisco Román Alarcón Suárez     475
4               Toby Alderweireld     446
5                   Harry Maguire     434
6                    Ivan Rakitić     426
7                Jordi Alba Ramos     414
8                 Kieran Trippier     393
9                     Kyle Walker     385

The demonstrates a basic SQL query that finds which players have attempted the most passes during the competition.

The query is fed into `pd.read_sql` along with the engine object to return the results.

---

In [13]:
top_xg = """
select player_name
, round(sum(shot_statsbomb_xg),2) as 'total xg'
from events
where 1=1
and type_name = "Shot"
group by player_id
order by 2 desc
"""

pd.read_sql(top_xg, engine).head(10)

                           player_name  total xg
0        Neymar da Silva Santos Junior      4.52
1                           Harry Kane      4.37
2                    Antoine Griezmann      3.34
3                          Luka Modrić      3.31
4                          Eden Hazard      3.07
5                         Ivan Rakitić      2.77
6  Cristiano Ronaldo dos Santos Aveiro      2.56
7                 Romelu Lukaku Menama      2.50
8                      Mario Mandžukić      2.49
9                 Diego da Silva Costa      2.36

Another example, this time demonstrating the results of a different question, but using a pretty similar SQL query to provide the solution.

---

---

Devin Pleuler 2020